* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.1s, color 0.1s;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(145, 145, 145, 0.7);
  transition: 0.3s;
}
.container:hover {
  box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.9);
}


section {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(145, 145, 145, 0.5);
  margin-top: 30px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.main-container:hover {
  box-shadow: 0 0px 20px rgba(145, 145, 145, 1);
  transform: scale(1.05);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container img {
  width: 550px;
  height: 95%;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.description {
  padding: 20px 20px 5px 20px;
}
.description p {
  color: var(--text-color);
  font-size: 16px;
  direction: ltr;
}

.button-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-top: 10px;
}

.button-container a {
  text-decoration: none;
}

.button-container button {
  padding: 10px 20px 8px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--accent-color);
  font-size: 15px;
  margin-bottom: 10px;
  transition: 0.2s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.button-container button:hover {
  opacity: 0.8;
  box-shadow: 0 0px 10px rgba(145, 145, 145, 0.5);
}
.button-container button:active {
  opacity: 0.5;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 1em;
  color: var(--accent-color);
  padding-top: 10px;
}

@media only screen and (max-width: 650px) {
  .main-container {
    width: 95%;
    height: 100%;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  nav {
    flex-direction: column;
    row-gap: 15px;
  }
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
